<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            <div class="row">
                <div style="clear: left;"></div>
                © 2018 技术人生 - Fly 版权所有<br>
                <a href="http://www.miitbeian.gov.cn">粤ICP备18003543号</a>
                <!--Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.-->
            </div>


            <!--
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>
            -->
        </div>
    </div>
</footer>
